app/downloads/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
node_modules/
*.egg-info/
dist/
build/
*.whl
*.tar.gz
*.zip
.DS_Store
.vscode/
.idea/
downloads/